# Environment configuration for RahatSetu
VITE_FIREBASE_API_KEY=AIzaSyBdNjtmkXB_giG7ruaK3hoBHfnO_yvtClM
VITE_FIREBASE_AUTH_DOMAIN=rahat-setu.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rahat-setu
VITE_FIREBASE_STORAGE_BUCKET=rahat-setu.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=343606671773
VITE_FIREBASE_APP_ID=1:343606671773:web:1bc279075709f64a975774
